# seconds
update_interval: 1
row_limit: 180

db_config:
  schema: data_source
  host: db
  port: 5432
  database: dash
  user: dash
  password: dash


logging:
  filename: /var/log/dash_app/dash_server.log
  format: "{asctime} {levelname:5} {name}: {message}"
  level: DEBUG
  loggers:
    app: DEBUG
