ticker_range: [0, 99]

# seconds
insert_interval: 1

generate_historical_data: true
# hours
historical_timedelta: 10

db_config:
  db_pool_size: 10
  schema: data_source
  dbtype: pgsql
  host: db
  port: 5432
  database: dash
  user: dash
  password: dash

logging:
  filename: /var/log/dash_app/data_server.log
  format: "{asctime} {levelname:5} {name}: {message}"
  level: DEBUG
  loggers:
    bot: DEBUG
